pypdf==4.2.0
langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
PyMuPDF==1.24.5
nltk==3.8.1
httpx==0.27.0
fastapi==0.111.0
pydantic==2.7.4
google-generativeai==0.6.0
python-dotenv==1.0.1
fpdf==1.7.2
gradio==4.36.1